* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

/* Variables */
:root {
    --primary-color: #50330C;
    --accent-color: #68BA84;
    --offwhite-color: #F8F8F8;
    --white-color: #FFFFFF;
    --text-color: #939393;
    --font-main: 'Poppins', sans-serif;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}


/* Button */
.btn {
    display: block;
    padding: 25px 40px;
    text-align: center;
    min-width: 140px;
    font-size: 14px;
    line-height: 30px;
    font-weight: var(--font-weight-medium);
    color: var(--white-color);
    background: var(--accent-color);
    transition: 0.4s all ease-in-out;
}
@media (hover: hover) {
    .btn:hover {
        background: var(--primary-color);
    }
}
.btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }


  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul h1 {
    color: var(--accent-color);
    display: flex;
    justify-content: flex-end;
    
    }
  
  li a:hover {
    background-color: #111;
  }
  
  

  .active {
    background-color: #4CAF50;
  }