{% extends "base.html" %} {% block title %}Focus{% endblock %} {% block content
    %}
    
    <h1 align="center">{{ stack.title }}</h1> 
    
    {% for flashcard in stack.flashcards %}
    <div class="container mt-5 flashcard" style="display: none">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ flashcard.question }}</h5>
            </div>
            <div class="flashcard-answer" >
              <p class="card-text" id="flashcardAnswer" style="opacity:0; text-align: center;">{{ flashcard.answer }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
    <div class="text-center mt-4">
       <button id="correct-button" class="btn btn-success" style="opacity:0;">
        <i class="fa fa-arrow-up"></i>Correct
      <button id="show-button" class="btn btn-primary">
        <i class="fa fa-arrow-right"></i>Show
      </button>
        </button>
        <button id="wrong-button" class="btn btn-danger" style="opacity:0;">
            <i class="fa fa-arrow-down"></i>Wrong
    </div>
    
    <script>
        //Definering af de forskellige konsatner
        const flashcards = document.querySelectorAll(".flashcard");
        const flashcardAnswers = document.querySelectorAll(".card-text");
        flashcards.forEach((flashcard) => (flashcard.style.display = "none"));
        flashcards[0].style.display = "block";
        const correctButton = document.getElementById("correct-button");
        const wrongButton = document.getElementById("wrong-button");
        const showButton = document.getElementById("show-button");
        //Showbutton funktionalitet ved klik
        showButton.addEventListener("click", () => {
        let currentFlashcardIndex; // Variabel der kan ændres
        console.log(currentFlashcardIndex) //Log til konsol
          //For løkke hvor i defineres, og der findes dt kort som har variablen block.
          for (let i = 0; i < flashcards.length; i++) { 
            if (flashcards[i].style.display === "block") {
              currentFlashcardIndex = i;
              break;
            }
          }
        //Svar defineres som variabel men samme plads som synligt kort
          let answer = flashcardAnswers[currentFlashcardIndex] 
          //Knapper vises og svar vises
          correctButton.style.opacity = 1;
          wrongButton.style.opacity = 1;
          answer.style.opacity = 1;
          showButton.disabled = true
        }
        )
        //Correct button funktionalitet
        correctButton.addEventListener("click", () => {
          let currentFlashcardIndex; // Variabel der kan ændres
          // Forløkke hvor i defineres igen- samme metode som showbutton
          for (let i = 0; i < flashcards.length; i++) {
            if (flashcards[i].style.display === "block") {
              currentFlashcardIndex = i;
              break;
            }
          }
          //næste index er aktuel +1 dog tages modul til længden så hvis vi på sidste kort går den tilbage til en
          let nextIndex = (currentFlashcardIndex + 1) % flashcards.length;
          //Næste kort blir synligt
          flashcards[nextIndex].style.display = "block";
          console.log(flashcards[nextIndex])
          //Gamle svar skjules
          let answer = flashcardAnswers[currentFlashcardIndex]
          answer.style.opacity = 0;
          //Gamle kort skjules
          if (currentFlashcardIndex !== undefined) {
            flashcards[currentFlashcardIndex].style.display = "none";
          }
          // Knapper vises og skjules
          correctButton.style.opacity = 0;
          wrongButton.style.opacity = 0;
          showButton.disabled = false
        });
        //wrong button funktionalitet
        wrongButton.addEventListener("click", () => {
          let currentFlashcardIndex; // Variabel der kan ændres
          // Forløkke hvor i defineres igen- samme metode som showbutton
          for (let i = 0; i < flashcards.length; i++) {
            if (flashcards[i].style.display === "block") {
              currentFlashcardIndex = i;
              break;
            }
          }
          //næste index er aktuel +1 dog tages modul til længden så hvis vi på sidste kort går den tilbage til en
          let nextIndex = (currentFlashcardIndex + 1) % flashcards.length;
          //Næste kort blir synligt
          flashcards[nextIndex].style.display = "block";
          console.log(flashcards[nextIndex])
          //Gamle svar skjules
          let answer = flashcardAnswers[currentFlashcardIndex]
          answer.style.opacity = 0;
          //Gamle kort skjules
          if (currentFlashcardIndex !== undefined) {
            flashcards[currentFlashcardIndex].style.display = "none";
          }
          // Knapper vises og skjules
          correctButton.style.opacity = 0;
          wrongButton.style.opacity = 0;
          showButton.disabled = false
        });
      </script> 
    
    {% endblock %}
    